version: '3.8'

services:
  app1:
    build:
      context: .
      dockerfile: ./services/app1/Dockerfile
    container_name: cwm-app1
    environment:
      - SERVICE_NAME=app1
      - LOG_LEVEL=Info
      - CWM_ClientID=${CWM_ClientID}
      - CWM_PublicKey=${CWM_PublicKey}
      - CWM_PrivateKey=${CWM_PrivateKey}
    restart: unless-stopped

  app2:
    build:
      context: .
      dockerfile: ./services/app2/Dockerfile
    container_name: cwm-app2
    environment:
      - SERVICE_NAME=app2
      - LOG_LEVEL=Info
      - CWM_ClientID=${CWM_ClientID}
      - CWM_PublicKey=${CWM_PublicKey}
      - CWM_PrivateKey=${CWM_PrivateKey}
    restart: unless-stopped