name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - STAGING

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    strategy:
      matrix:
        service: [app1, app2]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./services/${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/cwm-${{ matrix.service }}:${{ github.ref == 'refs/heads/main' && 'prod' || 'staging' }}
            ${{ secrets.ACR_LOGIN_SERVER }}/cwm-${{ matrix.service }}:${{ github.ref == 'refs/heads/main' && 'prod' || 'staging' }}-${{ github.sha }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Container Instances
        uses: azure/aci-deploy-action@v1
        with:
          resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
          name: ${{ github.ref == 'refs/heads/main' && format('cwm-prod-{0}', matrix.service) || format('cwm-staging-{0}', matrix.service) }}
          image: ${{ secrets.ACR_LOGIN_SERVER }}/cwm-${{ matrix.service }}:${{ github.ref == 'refs/heads/main' && 'prod' || 'staging' }}-${{ github.sha }}
          registry-login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          registry-username: ${{ secrets.ACR_USERNAME }}
          registry-password: ${{ secrets.ACR_PASSWORD }}
          location: ${{ secrets.AZURE_LOCATION }}
          dns-name-label: ${{ github.ref == 'refs/heads/main' && format('cwm-prod-{0}', matrix.service) || format('cwm-staging-{0}', matrix.service) }}